auto-save-list/**
elpa/**
undo/**
**/*.elc
recentf
tramp
eln-cache
eshell
transient
projectile-bookmarks.eld
org-persist
config.el
custom.el
package-quickstart.el
package-quickstart.elc
org-roam.db*
.org-id-locations